.loadingBar {
  width: 100%;
  height: 10px;
  border-radius: 30px;
  background-color: pink;
  display: flex;

  * {
    height: 100%;
  }
}

.progressBar {
  background-color: blue;
  transition: width 1s linear 0s;
}


table {
  margin-top: 25px;
}

td {
  
  border: 1px solid black;
}

